@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  @apply flex flex-row items-center justify-center;
}
* {
  box-sizing: border-box;
}

@layer base {
  html {
  }

  body {
    @apply font-normal font-titleFont;
  }
}

.text-gradient-highlighted {
  @apply bg-gradient-to-r from-darkBlue dark:from-bluish to-bluish dark:to-lightBlue text-transparent bg-clip-text;
}

.tag-gradient-highlighted {
  @apply bg-gradient-to-r from-bluish to-lightBlue dark:text-transparent dark:bg-clip-text;
}

.invert-color {
  filter: brightness(0) invert(1) grayscale(1);
}

.invert-color-to-black {
  filter: brightness(0);
}
/*-- Nav Bar --*/
/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  @apply dark:bg-white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Scroll Bar ) */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #38444d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}

.background-gradient {
  background: linear-gradient(to top, #0098aa, #323946);
}

.background-gradient-light {
  background: linear-gradient(to top, #323946, #0098aa);
}

/* Menu Bar */
.menu-link::after {
  @apply bg-bluish dark:bg-white; /* Line color */
  content: "";
  display: block;
  width: 0;
  height: 2px; /* Adjust the height as needed */
  transition: width 0.3s ease;
}

/* Increase the line width when hovering over the link */
.menu-link:hover::after {
  width: 100%;
}

/* Contact Icons */
.contact-icons {
  @apply border-2 dark:border-2 border-gray-200 dark:border-darkBlue bg-gray-200 dark:bg-[#323946] rounded-lg cursor-pointer transition-all duration-300;
}

/* Icon SVG */
.contact-icons svg {
  transition: 0.3s ease;
}

.contact-icons:hover svg {
  fill: #0098aa;
}

/* Icon SVG */

.view-all:hover svg {
  fill: #18181b;
}